body {
    background-color: antiquewhite;
}

.p {
    /*background-color: black;*/
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    text-decoration: none;
    /* padding: 30px 32px;*/
    font-size: 16px;
    width: 95%;
    padding: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0%;
    margin-right: 0px;
    float: right;
}

li {
    display: block;
    width: 250px;
    height: 27px;
    background-color: #080808;
    color: rgb(252, 246, 246);
    text-align: center;
}

.num {
    margin-right: 100%;
}

.vert {
    color: rgb(9, 245, 28);
}

.cov {
    color: brown;
}

h1 {
    text-align: center;
    color: rgba(248, 29, 40, 0.877);
    margin-top: 5em;
}

img {
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 6em;
}